.link {
    &[data-active] {
        &,
        &:hover {
            background-color: #043343;
            color: white;

            .linkIcon {
                color: var(--mantine-color-blue-light-color);
            }
        }
    }
}
